/***generale****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

/****base****/
.app{
    height: 100vh;
	background-image: linear-gradient(
        to top,
        #D7DBD6 85%,
        #009688 85%,
        #009688 100%
      );
	padding: 40px;
	display: flex;
    font-size: 15px;
}

.container{
    width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: white;
} 

.col.contacts{
    width: 350px;
	flex-shrink: 0;
    /* overflow: hidden; */
}

.col.chat{
    flex-grow: 1;   
    /* overflow: hidden; */
    border-left: 1px solid  #D6D6D6;
    max-width: 674px;
}

/*****flex*******/
.row{
    display: flex;
}

.row-column{
    display: flex;
    flex-direction: column;
}

.space-b{
    align-items: center;
    justify-content: space-between;
}

.list-contacts,
.persolan-chat{
    flex-grow: 1;
    overflow-y: scroll;
}

.col-1{
    flex-basis: calc(100% /12);
}

/***********layout component***********/

.my-profile,
.bar-keyboard,
.bar-chat{
    height: 60px;
    padding: 10px;
    background-color: #EAEAEA;
    flex-shrink: 0;
}

.search__input>input,
.col.write>input{
    width: 100%;
    border: none;
    font-size: 14px;
}

.img-accounts{
    display:block;
    height: 52px;
    aspect-ratio: 1;
    /* object-fit: cover;
    object-position: center; */
    border-radius: 999px;
}

.my-profile ul,
.bar-chat ul {
	align-items: center;
	gap: 12px;
}

.my-profile i,
.bar-chat i {
    color: #B1B1B1;
}

.card{
    gap:20px;
    align-items: center;
}

.bar-chat .friend-account,
.my-profile .my-account{
    gap:10px;
}

p.info,
span.hours{
    font-size: 12px;
    color: #969C9E;
} 

/*********col contacts**********/

.add-not{
    align-items: center;
    gap:15px;
    padding: 10px;
    background-color: #8EDAFC;
}

.add-not__icone{
    background-color: white;
    color: #8EDAFC;
    padding: 7px;
    aspect-ratio: 1;
    border-radius: 100%;
}

.add-not a{
    color:#5F818C;
}

/***style search-bar***/

.search-bar{
    padding: 10px;
    background-color: #FAFAFA;
    border-bottom: 2px solid #eeeeee;
}

.search__input{
    background-color: white;
    border: 1px solid #F4F4F4;
    padding: 5px;
    align-items: center;
    gap: 10px;
    height: 100%;
}

/***style list-contacts***/
.my-contact{
    gap:24px;
    justify-content: space-between;
    padding: 6px 5px 6px 20px;
    line-height: 24px;
    border-bottom: 2px solid #eeeeee;
}

.my-contact:hover,
.active{
    background-color: #E9EBEB;
}

/*******col chat**********/
.persolan-chat{
    background-image: url(https://wallpapercave.com/wp/wp10889573.jpg);
    background-size: contain;
    background-repeat: repeat;
    align-items: flex-end;
    padding: 50px;
    gap: 10px;
}

.bar-keyboard>.row{
    align-items: center;
    height: 100%;
    color: #6B7376;
}

.bar-keyboard .col-1{
    text-align: center;
}

.bar-keyboard .col.write{
    flex-grow: 1;
}

.col.write>input{
    padding: 10px;
    border-radius: 10px;
}

.green{
    background-color: #D5F9BA;
}

.white-cream{
    background-color: rgb(242 238 208);
    align-self: flex-start;
}

.msg{
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 100px;
    /* max-width: 330px; */
    max-width: 50%;
    border-radius: 10px;
    padding: 12px 11px;
    
}

.msg>p{
    word-wrap: break-word;
}

.time{
    font-size: 11px;
    align-self: flex-end;
    color: #969C9E;
}

.hidden{
    display: none;
}