/***generale****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

/****base****/
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to top,
      #D7DBD6 85%,
      #009688 85%,
      #009688 100%
    );
    overflow: hidden;
    font-size: 20px;
}

.container{
    width: 1600px;
    min-height: 960px;
    margin: 42px auto;
    background-color: white;
}

/*****flex*******/
.row{
    display: flex;
}

.row-column {
    flex-direction: column;
    min-height: 100%;
}

.space-b{
    align-items: center;
    justify-content: space-between;
}

/***layout macro***/
.col.contacts{
    flex-basis: 557px;
    min-height: 960px;
    overflow: hidden;
}

.list-contacts,
.persolan-chat{
    flex-grow: 1;
    overflow-y: scroll;
}

.col.chat{
    flex-grow: 1;
    min-height: 960px;    
    overflow: hidden;
    border-left: 1px solid  #D6D6D6;
}

.col-1{
    flex-basis: calc(100% /12);
}

/***********layout component***********/
.my-profile,
.bar-chat,
.bar-keyboard{
    height: 75px;
    padding: 15px;
    font-size: 22px;
    background-color: #EAEAEA;
}

.search__input>input,
.col.write>input{
    width: 100%;
    border: none;
    font-size: 15px;
}

.img-accounts{
    width: 60px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

.my-profile ul,
.bar-chat ul {
    width: 100px;
}

.my-profile i,
.bar-chat i {
    color: #B1B1B1;
}

.card{
    gap:20px;
    align-items: center;
}

.bar-chat .friend-account,
.my-profile .my-account{
    gap:10px;
}

p.info,
span.hours{
    font-size: 18px;
    color: #969C9E;
}

/*********col contacts**********/
.add-not{
    align-items: center;
    gap:15px;
    padding: 10px;
    background-color: #8EDAFC;
}

.add-not__icone{
    background-color: white;
    color: #8EDAFC;
    padding: 7px;
    aspect-ratio: 1;
    border-radius: 100%;
}

.add-not a{
    color:#5F818C;
}

/***style search-bar***/
.search-bar{
    padding: 10px;
    background-color: #FAFAFA;
}

.search__input{
    background-color: white;
    border: 1px solid #F4F4F4;
    padding: 5px;
    align-items: center;
    gap: 10px;
    height: 100%;
}

/***style list-contacts***/
.my-contact{
    justify-content: space-between;
    padding: 10px;
    line-height: 28px;
    border-bottom: 2px solid #eeeeee;
}

/*******col chat**********/
.persolan-chat{
    background-image: url(https://wallpapercave.com/wp/wp10889573.jpg);
    background-size: contain;
    background-repeat: repeat;
    align-items: flex-end;
    padding: 50px;
    gap: 10px;
}

.bar-keyboard>.row{
    align-items: center;
    height: 100%;
    color: #6B7376;
}

.bar-keyboard .col-1{
    text-align: center;
}

.bar-keyboard .col.write{
    flex-grow: 1;
}

.col.write>input{
    padding: 10px;
    border-radius: 10px;
}

.green{
    background-color: #D5F9BA;
}

.white{
    background-color: white;
    align-self: flex-start;
}

.msg{
    width: 330px;
    border-radius: 10px;
    padding: 20px 17px;
}