*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to top,
      #D7DBD6 85%,
      #009688 85%,
      #009688 100%
    );
    overflow: hidden;
}


.container{
    width: 1600px;
    min-height: 960px;
    margin: 42px auto;
    background-color: white;
}